.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: 'FiraSans';
  src: local('FiraSans'), url(./fonts/FiraSans-Regular.ttf) format('truetype');
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.row{
    margin-right:0px !important;
    margin-left: 0px !important;
    /*display: inline-flex !important;*/
}


#collapse1{
  overflow-y:scroll;
  height:200px !important;
}

thead{
  background-color: #ddd;
}


body {
  font-family:FiraSans;
  font-size: 14px;
  padding: 0;
  
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #B33;
}

a:hover .name {
  text-decoration: underline;
}

p {
  margin-top: 0;
}

.card {
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 12px;
}

.card.summary {
  padding: 0;
}

.card.summary > .background {
  display: block;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0;
  margin: 0;
  width: 100%;
}

.card.summary > .information {
  color: #333;
  border-top: 1px solid #eee;
  padding: 8px 12px;
}

.card.summary > .information > .title {
  font-weight: bold;
}

.card.summary > .information > div:not(:last-child) {
  margin-bottom: 4px;
}

.card.summary .domain {
  color: #888;
}




body{
  margin-top:20px;
  /*background:#eee;*/
}

.avatar {
  position: relative;
  display: inline-block;
  width: 40px;
  white-space: nowrap;
  border-radius: 1000px;
  vertical-align: bottom
  
}

.avatar i {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 100%
}

.avatar img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 0 none;
  border-radius: 1000px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.avatar-online i {
  background-color: #4caf50
}

.avatar-off i {
  background-color: #616161
}

.avatar-busy i {
  background-color: #ff9800
}

.avatar-away i {
  background-color: #f44336
}

.avatar-100 {
  width: 100px
}

.avatar-100 i {
  height: 20px;
  width: 20px
}

.avatar-lg {
  width: 50px
}

.avatar-lg i {
  height: 12px;
  width: 12px
}

.avatar-sm {
  width: 30px
}

.avatar-sm i {
  height: 8px;
  width: 8px
}

.avatar-xs {
  width: 20px
}

.avatar-xs i {
  height: 7px;
  width: 7px
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid transparent;
}

/*.row-count{*/
  /*padding : 25px !important;*/
/*}*/


.card-counter{
  box-shadow: 2px 2px 10px #DADADA;
  margin: 5px;
  padding: 20px;
  background-color: #fff;
  height: 100px;
  border-radius: 5px;
  transition: .3s linear all;
    height: 140px;
    border-radius: 10px;
}

.card-counter:hover{
  box-shadow: 4px 4px 20px #DADADA;
  transition: .3s linear all;
}

.card-counter.primary{
  background-color: #007bff;
  color: #FFF;
}

.card-counter.danger{
  background-color: #ef5350;
  color: #FFF;
}  

.card-counter.success{
  background-color: #66bb6a;
  color: #FFF;
}  

.card-counter.info{
  background-color: #26c6da;
  color: #FFF;
}  

.card-counter i{
  font-size: 5em;
  opacity: 0.2;
}

.card-counter .count-numbers{
  position: absolute;
  /*right: 35px;*/
  top: 20px;
  font-size: 32px;
  display: block;
    font-weight: 600;
}

.card-counter .count-name{
  position: absolute;
  /*right: 35px;*/
  top: 65px;
  text-transform: capitalize;
  opacity: 0.5;
  display: block;
  font-size: 15px;
    font-weight: 500;

}

.table td, .table th{
  line-height: 0.9 !important;
}


/*new table*/



.list-group {
  /* overflow-y: auto; */
  height: 900px;
}
.media-heading{
  font-size: 17px;
    text-align: left;
    margin-left: 15px;
    font-weight: 600;
}

.tweets_heading{
  margin: 0px 13px;
    text-align: left;
    font-size: 13px;
    color: grey;
}
.fa-twitter{
  color : #55acee;
}
.color_g {
  color:#66bb6a;
}
.navbar{
    padding-top: 3em !important;
    font-weight: 100;
}
.card-counter img{
    text-align: end !important;
}
#container1{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#container2{
  width: 100%;
  height: 99%;
  overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box;

}
.navbar-brand{
  font-size: 1rem !important;

}

@media only screen and (max-width: 575px) {
    #container2 {
        padding-right: 0px !important;
    }
    .auto_r {
        padding-right: 0px !important;
    }

    .carousel-item .col-md-4 .mb-2{
      height :370px !important;
    }


}

.auto_r{
    font-size: 13px;
    font-weight: 100;
    margin-bottom: -64px;
    padding-right: 50px;
}
.container{
    padding-left: 0px !important;
    padding-right: 0px !important;

}
.panel-heading {
    margin-top: 24px;
}
.table tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}
#button {
    display: inline-block;
    background-color: #000000;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    z-index: 1000;
}
#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}


/* corosul css */

.carousel-item .col-md-4 h4{
  font-size: 15px;
  font-weight: 600;
  /* width: 219px; */
  /* white-space: nowrap;
  overflow: hidden; */
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: normal; 
    
  /* Exactly 2 lines are displayed.  
      Height of 1 line is 1.2em*/ 
  height: 3.4em;  
  text-overflow: -o-ellipsis-lastline; 
}

.carousel-item .col-md-4 .mb-2{
  height :312px;
}

.carousel-item .col-md-3 a{
  height :341px;
  font-size: 12px;
  padding :20px;
}

@media only screen and (min-width: 767px) {


.carousel-item .col-md-4 .img-fluid{
  height:162px;
  width:100%;
}



}

.carousel-item .col-md-4 .img-fluid{
  width:100%;
}


.carousel-item .col-md-3 .card-body{
  padding: 1.25rem 1rem;
}

.carousel-item .col-md-3 .card{
  padding: 0px;
}
.controls-top{
  display: none;
}

.controls-top-button .btn-floating{
  padding: 0px 10px 10px 10px;
    /* background-color:red; */
}
.carousel-item .col-md-4 .card-text{
font-size: 10px;
    text-align: end;
}
.carousel-item .col-md-4 a{
    color: #000;
    font-weight: bold;
}

.carousel-indicators{
  display: none !important;
}
.navbar a {
    color:white !important;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}
